<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magento_catalog_api_data_categoryinterface_save_after">
        <observer name="save_code_to_id_mapping_after_category_save" instance="Ampersand\CategoryCode\Observer\AfterCategorySave" />
    </event>
</config>